{% if paginate.pages > 1 %}
<div class="row">
  <div>
    <ul class="pagination clearfix">
    {% if paginate.previous %}
    	<li><a href="{{ paginate.previous.url }}" class="prev"></a></li>
    {% else %}
    	<li><div>{{ back_word }}</div></li>
    {% endif %}
    <li class="page_number">Page {{ paginate.current_page }} of {{ paginate.pages }}</li>
    {% if paginate.next %}
    	<li><a href="{{ paginate.next.url }}" class="next"></a></li>
    {% else %}
    	<li><div>{{ next_word }}</div></li>
    {% endif %}
    </ul>
  </div>
</div> 
{% endif %}