<div id="affiliate" class="container-fluid no-pad">
  
  <div class="span12 details">
    <div class="ban pone"><h1 class="p25">{{ page.title }}</h1></div>
    <div class="container" style="max-width: 1000px; min-width: 1000px;">
    {{ page.content }}
    {% form 'contact', id:"affiliateForm" %} {% if form.posted_successfully? %}
    <div class="successForm feedback">Thank you for contacting us about becoming a PN Affiliate. One of our representatives will be contacting you very shortly. <strong>Stick to Protocol!</strong></div>
    {% endif %} {% if form.errors %}
    <div class="errorForm feedback">
    <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
    {% for field in form.errors %}
    <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
    {% endfor %}</div>
    {% endif %}
    <div id="contactFormWrapper">
    <div class="col-md-12" style="display: none;"><select id="Q" required="" name="contact[affiliate]">
    <option value="I would like to become and affiliate">PN Affiliate</option>
    </select></div>
    </div>
    <div class="col-md-12 emails">
    <div class="col-md-12"><label>Enter Email to sign up today!</label><br /> <input type="email" id="contactFormEmail" name="contact[Email]" placeholder="john@example.com" required="" /></div>
    </div>
    <div class="col-md-12">
    <div class="col-md-12"><input type="submit" id="contactFormSubmit" value="Send" class="btn" onclick="CheckAndSubmit ()" /></div>
    </div>
    {% endform %}<hr />
    <p><strong>What kind of marketing is NOT allowed in the program? </strong></p>
    <p>Any illegal activity or spamming is not permitted. Direct linking and forced redirects to ProtocolNutrition.com are prohibited when performing search engine marketing. Affiliates must direct traffic to a landing page on their own website from within paid search. </p>
    <p>Coupons found on <strong>LeadDyno</strong> or those being promoted directly on ProtocolNutrition.com are allowed. Any affiliate sale that is made with a non-affiliate coupon will become invalid and no commission will be received by the affiliate partner.</p>
    </div>
  </div>
  
</div>